<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tipz{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'tipz/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'tipz:index' %}">Tipz</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li class="{% block tipz_create %}{% endblock %}"><a href="{% url 'tipz:projects-add' %}"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>&nbsp; Create a Tipz</a></li>
                {% endif %}
                <li class="{% block best_tipzs %}{% endblock %}"><a href="{% url 'tipz:projects' %}"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp; The best Tipzs</a></li>
                {% if user.is_authenticated %}
                    <li class="{% block logout %}{% endblock %}"><a href="{% url 'tipz:logout' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Logout User : {{request.user.username}}</a></li>
                {% else %}
                    <li class="{% block register %}{% endblock %}"><a href="{% url 'tipz:register' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Register</a></li>
                    <li class="{% block login %}{% endblock %}"><a href="{% url 'tipz:login' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Login</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="{% block my_page %}{% endblock %}"><a href="{% url 'tipz:usersDetail' user.id %}"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>&nbsp; My Page</a></li>
                {% endif %}

            </ul>
        </div>

    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>
