{% extends 'tipz/base.html' %}

{% block title %}Tipz Projects{% endblock %}

{% block body %}
    <u1>
    <h2>Projects</h2>
    {% for project in object_list %}

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ project.name }}?</h3>
                    <p>{{ project.name }} is {{ project.description }}</p>
                    <li><a href="{% url 'projectsDetail' project.id %}"> Invest in {{ project.name }}</a></li>
                </div>
            </div>
        </div>
    {% endfor %}
</u1>
{% endblock %}