{% extends 'tipz/base.html' %}

{% block title %}Tipz Project Detail{% endblock %}

{% block body %}
    <u1>
    <h2>Project: {{ project.name }}</h2>

        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Created by {{ project.owner }}</p>
                    <p>Date of creation: {{ project.creationDate }}</p>
                    <p>Description: {{ project.description }}</p>
                </div>
            </div>
        </div>
   </u1>
<br>
 <u1>
    <h2>Pledges</h2>
     {% for pledge in Pledges %}
        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ pledge.name }}</h3>
                    <p>Description: {{ pledge.description }}</p>
                    <p>Price per month: {{ pledge.value }}€</p>
                    <p>Project: {{ pledge.project.name }}</p>
                    <a href="{% url 'pledgesDetail' pledge.id %}"> Invest in {{ pledge.name }}</a>
                </div>
            </div>
        </div>
      {% endfor %}
   </u1>

{% endblock %}